!!!

%html{lang: "en"}
  %head
    %title olive branch - who should i contact today?
    %meta{charset: "utf-8"}
    %link{rel: "stylesheet", href: "/dither.css"}

  %body
    %hgroup
      %a{href: "/"}
        %img{src: "/ob.png", alt: "Olive Branch"}
      %h2 Who should I contact today?

    %article
      %a{href: "http://twitter.com/#{@friend}"}
        %img.twitter-share-button{src: "http://api.twitter.com/1/users/profile_image/#{@friend}", alt: "Friend"}
      %div#tweet-box

    %footer
      %p
        Powered by
        <a href="http://www.ruby-lang.org/en/">Ruby</a>,
        <a href="http://www.sinatrarb.com/">Sinatra</a>,
        and love.

    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
    %script{src: "/dither.js"}
